
@if (App.CurrentNode is not null)
{
    <MudPaper Class="menu-container h-100">
        <div class="menu-panel-wrapper" style="transform: translateX(@(-100 * (App.NavStack.Count - 1))%);">
            @for (int i = 0; i < App.NavStack.Count; i++)
            {
                <MenuPanel 
                    CurrentNode="App.NavStack[i]"
                    OnNavigate="App.PushNode"
                    OnBack="App.PopNode"
                    ShowBack="@(i > 0)"
                    CurrentFooterMode="NavVm.FooterMode"
                    OnResetFooter="ResetFooterMode"/>
            }
        </div>
        @if (NavVm.FooterMode == FooterMode.None)
        {
            <MenuPanelActions OnNewNode="OpenNewNodeDialog"
                              CurrentFooterMode="NavVm.FooterMode" />
        }

    </MudPaper>
}
else
{
    <MudProgressCircular />
}
